body { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.header {
    height: 100vh;
    background-color: rgb(99, 98, 64);
    position: relative; 

}

.header-text {
    position: absolute;
    top: 10% ;
    left: 50% ;
    transform: translate(-50%, -50%);
}

div{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Rubik', sans-serif;
}

h1 {
    letter-spacing: 3px;
  }

h2 {
    letter-spacing: 2px;
}

.pictures{
    position: relative;
    background-color:  rgb(255, 255, 255);
    height: 60vh; 
    width: 0vw ; 
    margin: 0 auto;
}

.coffee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    height: 20vh;
}

#master {
    height: 20%;
    transform: translate(30%, 30%);
}
