html {
    font-size: 62.5%;
    padding: 0;
    margin: -5rem;
    box-sizing: 0;
}

.header {
    height: 100vh;
    background-color: rgb(99, 98, 64);
}

.text{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Rubik', sans-serif;
    position: relative; 
    letter-spacing: 2rem;
    font-size: 2rem;
    top: 6rem;

}


.coffee{
    position: absolute;
    top: 15rem;
    left: 24rem;
    height: 30rem;
    z-index: 1;
}

.drink {
    position: absolute;
    top: 23rem;
    left: 34rem;
    height: 15rem;
    z-index: 1000;  
}
